{% extends "resume_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Topic: {{topic}}</h2>
{% endblock page_header %}

{% block content %}
  <p><strong>Unfinished questions: {{ incomplete_entries }}</strong></p>
  <p>Resume Assistant: {{ question }}</p>
  
  <form action="{% url 'resume_logs:new_answer' topic.id %}" method='post'>
    {% csrf_token %}
    <p>You:</p>
    {{ form.text }}
    <p><button type="submit"  name="action" value="Backward">Backward</button><button type="submit"  name="action" value="Send">Send</button><button type="submit"  name="action" value="Forward">Forward</button></p>
  </form>
  
  <br></br>

  <div class="card mb-3">
    <h5 class="card-header">Overview</h5>		
    <div class="card-body">
	  {% for entry in entries %}
	    <p>-------------------------------</p>
	    <p><strong>Assistant:</strong> {{ entry.section }}</p>
	    <p><strong>You:</strong> {{ entry.text }}</p>
	    <p><strong>GPT:</strong> {{ entry.gpt }}</p>
	  {% empty %}
	    <p>Nothing here yet...</p>
	  {% endfor %}
  
    </div>
  </div>

  <br></br>

  <div class="card mb-3">
    <h5 class="card-header">
	  Chat History <small>(sorted from most to least recent)</small>
    </h5>
	
    <div class="card-body">
	  {% for entry in profile_chat_history %}
	    <p><strong>Assistant:</strong> {{ entry.question }}</p>
	    <p><strong>You:</strong> {{ entry.answer }}</p>
	  {% empty %}
	    <p>Nothing here yet...</p>
	  {% endfor %}
	  
    </div>
  </div>

{% endblock content %}
